# We Rate Dogs

***

### Udacity - Fundamentos de Data Science II
### Projeto 2 - Data Wrangling

Priscila Agostinho   
Abril/2019

Este projeto de data wrangling consiste na coleta de 3 base de dados sendo que a primeira base foi coletada através de um link para os servidores da Udacity, a segunda fornecida pela Udacity e a terceira foi coletada no próprio perfil We Rate Dogs no Twittwer via API. Após a coleta das bases necessárias são aplicados os conceitos de Qualidade e Arrumação dos dados resultando em apenas uma base. Por Qualidade entende-se limpar os dados sujos e impuros e por Arrumação cada variável em uma coluna, cada observação em uma linha e cada tipo de unidade organizacional deve ser uma tabela.

Com a base resultante deve-se realizar análises e visualizações dos dados.

***

In [1]:
#Bibliotecas
import requests
import os
import pandas as pd
import numpy as np
import tweepy
import time
import json
import jsons
import matplotlib 
%matplotlib inline
import seaborn as sns
import warnings

In [2]:
# Para não truncar os textos
pd.set_option('display.max_colwidth', -1)

#Ignorar warnings
warnings.filterwarnings('ignore')

# Coleta

#### 1) Image Predictions
Coleta do arquivo através do link dos servidores da Udacity

In [3]:
# Download do image_predictions.tsv 
url = 'https://d17h27t6h515a5.cloudfront.net/topher/2017/August/599fd2ad_image-predictions/image-predictions.tsv'
response = requests.get(url)
print(response)

with open ('image-predictions.tsv', 'wb') as file:
    file.write(response.content)

#Transforma o arquivo tsv em um dataframe
image_predictions = pd.read_csv('image-predictions.tsv', sep='\t')

<Response [200]>

#### 2) Twitter Archive
Arquivo fornecido pela Udacity

In [4]:
# Transforma o arquivo csv em um dataframe
twitter_archive = pd.read_csv('twitter-archive-enhanced.csv', sep=',', encoding='utf8')

#### 3) Tweet data
Coleta dos dados dos tweets presentes no arquivo twitter-archive-enhanced via API do Twitter.

In [5]:
consumer_key = ''
consumer_secret = ''
access_token = ''
access_secret = ''

auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_secret)

api = tweepy.API(auth, wait_on_rate_limit = True, wait_on_rate_limit_notify = True )

In [6]:
t = time.process_time()
tweet_id = twitter_archive.tweet_id
tweet_data = []
tweet_error = []
query_error_count = 0
query_success_count = 0


for tweet in tweet_id:
    try:
        tweet_info = api.get_status(tweet, mode='extend')
        data = {'tweet_id':tweet, 'favorite_count':tweet_info.favorite_count, 'retweet_count':tweet_info.retweet_count}
        tweet_data.append(data)
        #print(tweet)
        query_success_count +=1
    except Exception as e:
        query_error_count +=1
        tweet_error.append(tweet)
        print(tweet, e)
        
            
print('Query Erros: ', query_error_count)
print('Query Success: ', query_success_count)

elapsed_time = time.process_time() - t
print(elapsed_time)

888202515573088257 [{'code': 144, 'message': 'No status found with that ID.'}]
873697596434513921 [{'code': 144, 'message': 'No status found with that ID.'}]
872668790621863937 [{'code': 144, 'message': 'No status found with that ID.'}]
872261713294495745 [{'code': 144, 'message': 'No status found with that ID.'}]
869988702071779329 [{'code': 144, 'message': 'No status found with that ID.'}]
866816280283807744 [{'code': 144, 'message': 'No status found with that ID.'}]
861769973181624320 [{'code': 144, 'message': 'No status found with that ID.'}]
856602993587888130 [{'code': 144, 'message': 'No status found with that ID.'}]
845459076796616705 [{'code': 144, 'message': 'No status found with that ID.'}]
844704788403113984 [{'code': 144, 'message': 'No status found with that ID.'}]
842892208864923648 [{'code': 144, 'message': 'No status found with that ID.'}]
837012587749474308 [{'code': 144, 'message': 'No status found with that ID.'}]
827228250799742977 [{'code': 144, 'message': 'No status found with that ID.'}]
812747805718642688 [{'code': 144, 'message': 'No status found with that ID.'}]
802247111496568832 [{'code': 144, 'message': 'No status found with that ID.'}]
775096608509886464 [{'code': 144, 'message': 'No status found with that ID.'}]
770743923962707968 [{'code': 144, 'message': 'No status found with that ID.'}]

Rate limit reached. Sleeping for: 623

754011816964026368 [{'code': 144, 'message': 'No status found with that ID.'}]
680055455951884288 [{'code': 144, 'message': 'No status found with that ID.'}]

Rate limit reached. Sleeping for: 621

Query Erros:  19
Query Success:  2337
95.84375

In [7]:
# Armazenando dados da consulta no arquivo tweet_json.txt
with open('tweet_json.txt', 'w') as file:
    for data in tweet_data:
        tweet_json = json.dumps(data)
        file.write(tweet_json+'\n')

In [8]:
#Visualização dos tweets com erro
tweet_error

[888202515573088257,
 873697596434513921,
 872668790621863937,
 872261713294495745,
 869988702071779329,
 866816280283807744,
 861769973181624320,
 856602993587888130,
 845459076796616705,
 844704788403113984,
 842892208864923648,
 837012587749474308,
 827228250799742977,
 812747805718642688,
 802247111496568832,
 775096608509886464,
 770743923962707968,
 754011816964026368,
 680055455951884288]

In [9]:
#Transforma os dados do arquivo JSON em um dataframe
tweet_data = pd.read_json('tweet_json.txt',  lines = True, encoding='utf-8')

# Acesso

### Twitter_archive

In [10]:
twitter_archive.head()

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,NaN,NaN,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,NaN,NaN,NaN,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None
1,892177421306343426,NaN,NaN,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",NaN,NaN,NaN,https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,None,None,None
2,891815181378084864,NaN,NaN,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,None,None,None
3,891689557279858688,NaN,NaN,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,NaN,NaN,NaN,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None,None,None,None
4,891327558926688256,NaN,NaN,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,None,None,None,None

In [11]:
twitter_archive.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2356 entries, 0 to 2355
Data columns (total 17 columns):
tweet_id                      2356 non-null int64
in_reply_to_status_id         78 non-null float64
in_reply_to_user_id           78 non-null float64
timestamp                     2356 non-null object
source                        2356 non-null object
text                          2356 non-null object
retweeted_status_id           181 non-null float64
retweeted_status_user_id      181 non-null float64
retweeted_status_timestamp    181 non-null object
expanded_urls                 2297 non-null object
rating_numerator              2356 non-null int64
rating_denominator            2356 non-null int64
name                          2356 non-null object
doggo                         2356 non-null object
floofer                       2356 non-null object
pupper                        2356 non-null object
puppo                         2356 non-null object
dtypes: float64(4), int64(3), object(10)
memory usage: 313.0+ KB

In [12]:
twitter_archive[twitter_archive.rating_denominator != 10]

,tweet_id,in_reply_to_status_id,in_reply_to_user_id,timestamp,source,text,retweeted_status_id,retweeted_status_user_id,retweeted_status_timestamp,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
313,835246439529840640,8.352460e+17,2.625958e+07,2017-02-24 21:54:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","@jonnysun @Lin_Manuel ok jomny I know you're excited but 960/00 isn't a valid rating, 13/10 is tho",NaN,NaN,NaN,NaN,960,0,None,None,None,None,None
342,832088576586297345,8.320875e+17,3.058208e+07,2017-02-16 04:45:50 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",@docmisterio account started on 11/15/15,NaN,NaN,NaN,NaN,11,15,None,None,None,None,None
433,820690176645140481,NaN,NaN,2017-01-15 17:52:40 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",The floofs have been released I repeat the floofs have been released. 84/70 https://t.co/NIYC820tmd,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/820690176645140481/photo/1,https://twitter.com/dog_rates/status/820690176645140481/photo/1,https://twitter.com/dog_rates/status/820690176645140481/photo/1",84,70,None,None,None,None,None
516,810984652412424192,NaN,NaN,2016-12-19 23:06:23 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Meet Sam. She smiles 24/7 &amp; secretly aspires to be a reindeer. \nKeep Sam smiling by clicking and sharing this link:\nhttps://t.co/98tB8y7y7t https://t.co/LouL5vdvxx,NaN,NaN,NaN,"https://www.gofundme.com/sams-smile,https://twitter.com/dog_rates/status/810984652412424192/photo/1",24,7,Sam,None,None,None,None
784,775096608509886464,NaN,NaN,2016-09-11 22:20:06 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","RT @dog_rates: After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https:/…",7.403732e+17,4.196984e+09,2016-06-08 02:41:38 +0000,"https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1",9,11,None,None,None,None,None
902,758467244762497024,NaN,NaN,2016-07-28 01:00:57 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Why does this never happen at my front door... 165/150 https://t.co/HmwrdfEfUE,NaN,NaN,NaN,https://twitter.com/dog_rates/status/758467244762497024/video/1,165,150,None,None,None,None,None
1068,740373189193256964,NaN,NaN,2016-06-08 02:41:38 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https://t.co/XAVDNDaVgQ",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1",9,11,None,None,None,None,None
1120,731156023742988288,NaN,NaN,2016-05-13 16:15:54 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Say hello to this unbelievably well behaved squad of doggos. 204/170 would try to pet all at once https://t.co/yGQI3He3xv,NaN,NaN,NaN,https://twitter.com/dog_rates/status/731156023742988288/photo/1,204,170,this,None,None,None,None
1165,722974582966214656,NaN,NaN,2016-04-21 02:25:47 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Happy 4/20 from the squad! 13/10 for all https://t.co/eV1diwds8a,NaN,NaN,NaN,https://twitter.com/dog_rates/status/722974582966214656/photo/1,4,20,None,None,None,None,None
1202,716439118184652801,NaN,NaN,2016-04-03 01:36:11 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Bluebert. He just saw that both #FinalFur match ups are split 50/50. Amazed af. 11/10 https://t.co/Kky1DPG4iq,NaN,NaN,NaN,https://twitter.com/dog_rates/status/716439118184652801/photo/1,50,50,Bluebert,None,None,None,None
1228,713900603437621249,NaN,NaN,2016-03-27 01:29:02 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Happy Saturday here's 9 puppers on a bench. 99/90 good work everybody https://t.co/mpvaVxKmc1,NaN,NaN,NaN,https://twitter.com/dog_rates/status/713900603437621249/photo/1,99,90,None,None,None,None,None
1254,710658690886586372,NaN,NaN,2016-03-18 02:46:49 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here's a brigade of puppers. All look very prepared for whatever happens next. 80/80 https://t.co/0eb7R1Om12,NaN,NaN,NaN,https://twitter.com/dog_rates/status/710658690886586372/photo/1,80,80,None,None,None,None,None
1274,709198395643068416,NaN,NaN,2016-03-14 02:04:08 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","From left to right:\nCletus, Jerome, Alejandro, Burp, &amp; Titson\nNone know where camera is. 45/50 would hug all at once https://t.co/sedre1ivTK",NaN,NaN,NaN,https://twitter.com/dog_rates/status/709198395643068416/photo/1,45,50,None,None,None,None,None
1351,704054845121142784,NaN,NaN,2016-02-28 21:25:30 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here is a whole flock of puppers. 60/50 I'll take the lot https://t.co/9dpcw6MdWa,NaN,NaN,NaN,https://twitter.com/dog_rates/status/704054845121142784/photo/1,60,50,a,None,None,None,None
1433,697463031882764288,NaN,NaN,2016-02-10 16:51:59 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Happy Wednesday here's a bucket of pups. 44/40 would pet all at once https://t.co/HppvrYuamZ,NaN,NaN,NaN,https://twitter.com/dog_rates/status/697463031882764288/photo/1,44,40,None,None,None,None,None
1598,686035780142297088,6.860340e+17,4.196984e+09,2016-01-10 04:04:10 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","Yes I do realize a rating of 4/20 would've been fitting. However, it would be unjust to give these cooperative pups that low of a rating",NaN,NaN,NaN,NaN,4,20,None,None,None,None,None
1634,684225744407494656,6.842229e+17,4.196984e+09,2016-01-05 04:11:44 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","Two sneaky puppers were not initially seen, moving the rating to 143/130. Please forgive us. Thank you https://t.co/kRK51Y5ac3",NaN,NaN,NaN,"https://twitter.com/dog_rates/status/684225744407494656/photo/1,https://twitter.com/dog_rates/status/684225744407494656/photo/1",143,130,None,None,None,None,None
1635,684222868335505415,NaN,NaN,2016-01-05 04:00:18 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Someone help the girl is being mugged. Several are distracting her while two steal her shoes. Clever puppers 121/110 https://t.co/1zfnTJLt55,NaN,NaN,NaN,https://twitter.com/dog_rates/status/684222868335505415/photo/1,121,110,None,None,None,None,None
1662,682962037429899265,NaN,NaN,2016-01-01 16:30:13 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darrel. He just robbed a 7/11 and is in a high speed police chase. Was just spotted by the helicopter 10/10 https://t.co/7EsP8LmSp5,NaN,NaN,NaN,https://twitter.com/dog_rates/status/682962037429899265/photo/1,7,11,Darrel,None,None,None,None
1663,682808988178739200,6.827884e+17,4.196984e+09,2016-01-01 06:22:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","I'm aware that I could've said 20/16, but here at WeRateDogs we are very professional. An inconsistent rating scale is simply irresponsible",NaN,NaN,NaN,NaN,20,16,None,None,None,None,None
1779,677716515794329600,NaN,NaN,2015-12-18 05:06:23 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",IT'S PUPPERGEDDON. Total of 144/120 ...I think https://t.co/ZanVtAtvIq,NaN,NaN,NaN,https://twitter.com/dog_rates/status/677716515794329600/photo/1,144,120,None,None,None,None,None
1843,675853064436391936,NaN,NaN,2015-12-13 01:41:41 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",Here we have an entire platoon of puppers. Total score: 88/80 would pet all at once https://t.co/y93p6FLvVw,NaN,NaN,NaN,"https://twitter.com/dog_rates/status/675853064436391936/photo/1,https://twitter.com/dog_rates/status/675853064436391936/photo/1",88,80,None,None,None,None,None
2335,666287406224695296,NaN,NaN,2015-11-16 16:11:11 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is an Albanian 3 1/2 legged Episcopalian. Loves well-polished hardwood flooring. Penis on the collar. 9/10 https://t.co/d9NcXFKwLv,NaN,NaN,NaN,https://twitter.com/dog_rates/status/666287406224695296/photo/1,1,2,an,None,None,None,None

In [13]:
twitter_archive['name'].value_counts()

None        745
a           55
Charlie     12
Cooper      11
Lucy        11
Oliver      11
Lola        10
Penny       10
Tucker      10
Bo          9
Winston     9
Sadie       8
the         8
an          7
Toby        7
Buddy       7
Daisy       7
Bailey      7
Oscar       6
Milo        6
Scout       6
Jax         6
Stanley     6
Jack        6
Rusty       6
Bella       6
Dave        6
Leo         6
Koda        6
Larry       5
           ..
Chaz        1
Darby       1
Zara        1
Eleanor     1
Franq       1
Jockson     1
Corey       1
Farfle      1
Furzey      1
Ralf        1
Beya        1
Jimbo       1
Remy        1
Superpup    1
Kial        1
Goose       1
Major       1
Skittle     1
Teddy       1
Spark       1
Darla       1
Moofasa     1
Pherb       1
Maisey      1
Evy         1
Brandy      1
Buddah      1
Augie       1
Grady       1
Tito        1
Name: name, Length: 957, dtype: int64

### image_predictions

In [14]:
image_predictions.head()

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_springer_spaniel,0.465074,True,collie,0.156665,True,Shetland_sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,redbone,0.506826,True,miniature_pinscher,0.074192,True,Rhodesian_ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_shepherd,0.596461,True,malinois,0.138584,True,bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_ridgeback,0.408143,True,redbone,0.360687,True,miniature_pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,miniature_pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

In [15]:
image_predictions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null int64
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(2), object(4)
memory usage: 152.1+ KB

In [16]:
image_predictions.describe()

           tweet_id      img_num      p1_conf       p2_conf       p3_conf
count  2.075000e+03  2075.000000  2075.000000  2.075000e+03  2.075000e+03
mean   7.384514e+17  1.203855     0.594548     1.345886e-01  6.032417e-02
std    6.785203e+16  0.561875     0.271174     1.006657e-01  5.090593e-02
min    6.660209e+17  1.000000     0.044333     1.011300e-08  1.740170e-10
25%    6.764835e+17  1.000000     0.364412     5.388625e-02  1.622240e-02
50%    7.119988e+17  1.000000     0.588230     1.181810e-01  4.944380e-02
75%    7.932034e+17  1.000000     0.843855     1.955655e-01  9.180755e-02
max    8.924206e+17  4.000000     1.000000     4.880140e-01  2.734190e-01

### tweet_data

In [17]:
tweet_data.head()

   favorite_count  retweet_count            tweet_id
0  37606           8199           892420643555336193
1  32315           6064           892177421306343426
2  24350           4011           891815181378084864
3  40931           8360           891689557279858688
4  39142           9052           891327558926688256

In [18]:
tweet_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2337 entries, 0 to 2336
Data columns (total 3 columns):
favorite_count    2337 non-null int64
retweet_count     2337 non-null int64
tweet_id          2337 non-null int64
dtypes: int64(3)
memory usage: 54.9 KB

# Problemas

#### Qualidade
##### Tabela `twitter_archive`
- Valores ausentes nas colunas `in_reply_to_status_id`, `in_reply_to_user_id`, `retweeted_status_id`, `retweeted_status_user_id`, `retweeted_status_timestamp`
- Valores ausentes na coluna `expanded_urls`
- Coluna `tweet_id` int e não object
- Coluna `timestamp` com datatype object e não datetime
- Coluna `source` com padrão html
- Retweets e Respostas não devem fazer parte do df
- Palavras com letras minúsculas que não são nomes na coluna `name`. Ex: an, the e a
-  Valores de `rating_denominator` diferente de 10 
- Valores de `rating_numerator` fora do padrão




##### Tabela `image_predictions`
- Coluna `tweet_id` int e não object
- Colunas `p1`, `p2` e `p3` com raças iniciadas em letra minúscula


##### Tabela `tweet data`
- Coluna `tweet_id` do tipo int e não object


#### Arrumação
- Existem 3 tabelas e apenas 1 seria suficiente para as análises a serem realizadas
- Colunas `doggo`,`doggo`,`pupper`,`puppo`, representam a mesma variável (dog_stage) e estão separadas em 4 colunas
- Tabela image_predictions com 3 probabilidades

# Limpeza

In [19]:
#Criar uma cópia dos dataframes originais
twitter_archive_clean = twitter_archive.copy()
image_predictions_clean = image_predictions.copy()
tweet_data_clean = tweet_data.copy()

### Missing Data

#### Valores ausentes nas colunas 
`in_reply_to_status_id`, `in_reply_to_user_id`, `retweeted_status_id`, `retweeted_status_user_id`, 
`retweeted_status_timestamp`

#### Definir
Como os retweets e respostas não devem fazer parte das análises, o df será recriado sem esses tweets.  
Excluir colunas in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp  
Resetar o index

In [20]:
#Quantidade de respostas e retweets
twitter_archive_clean.in_reply_to_status_id.notnull().sum(), twitter_archive_clean.retweeted_status_id.notnull().sum()

(78, 181)

#### Programar

In [21]:
#Excluindo os tweets de respostas e retweets
twitter_archive_clean = twitter_archive_clean[twitter_archive_clean.in_reply_to_status_id.isnull()]
twitter_archive_clean = twitter_archive_clean[twitter_archive_clean.retweeted_status_id.isnull()]

#Reset do index das colunas
twitter_archive_clean.reset_index(drop=True, inplace=True)

#Dropar as colunas in_reply_to_status_id, in_reply_to_user_id, retweeted_status_id, retweeted_status_user_id, retweeted_status_timestamp
columns = ['in_reply_to_status_id', 'in_reply_to_user_id', 'retweeted_status_id', 'retweeted_status_user_id', 'retweeted_status_timestamp']
twitter_archive_clean.drop(columns, inplace=True, axis=1)

#### Testar

In [22]:
twitter_archive_clean.head()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,2017-08-01 16:23:56 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None
1,892177421306343426,2017-08-01 00:17:27 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,None,None,None
2,891815181378084864,2017-07-31 00:18:03 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,None,None,None
3,891689557279858688,2017-07-30 15:58:51 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>",This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None,None,None,None
4,891327558926688256,2017-07-29 16:00:24 +0000,"<a href=""http://twitter.com/download/iphone"" rel=""nofollow"">Twitter for iPhone</a>","This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f","https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,None,None,None,None

#### Definir
Excluir tweets com valores ausente

In [23]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2097 entries, 0 to 2096
Data columns (total 12 columns):
tweet_id              2097 non-null int64
timestamp             2097 non-null object
source                2097 non-null object
text                  2097 non-null object
expanded_urls         2094 non-null object
rating_numerator      2097 non-null int64
rating_denominator    2097 non-null int64
name                  2097 non-null object
doggo                 2097 non-null object
floofer               2097 non-null object
pupper                2097 non-null object
puppo                 2097 non-null object
dtypes: int64(3), object(9)
memory usage: 196.7+ KB

##### Programar

In [24]:
twitter_archive_clean.dropna(inplace=True)

##### Testar

In [25]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2094 entries, 0 to 2096
Data columns (total 12 columns):
tweet_id              2094 non-null int64
timestamp             2094 non-null object
source                2094 non-null object
text                  2094 non-null object
expanded_urls         2094 non-null object
rating_numerator      2094 non-null int64
rating_denominator    2094 non-null int64
name                  2094 non-null object
doggo                 2094 non-null object
floofer               2094 non-null object
pupper                2094 non-null object
puppo                 2094 non-null object
dtypes: int64(3), object(9)
memory usage: 212.7+ KB

### Quality

#### Datatype errado nas colunas tweet_id, timestamp, favorite_count e retweet_count

#### Definir

Correção do datatype das colunas: 
- tweet_id de int para string  
- timestamp de string para datetime

#### Programar

In [26]:
# Conversão para datetime
twitter_archive_clean.timestamp = pd.to_datetime(twitter_archive_clean.timestamp)

# Conversão para string
twitter_archive_clean.tweet_id = twitter_archive_clean.tweet_id.astype('str')
tweet_data_clean.tweet_id = tweet_data_clean.tweet_id.astype('str')
image_predictions_clean.tweet_id = image_predictions_clean.tweet_id.astype('str')

#### Testar

In [27]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2094 entries, 0 to 2096
Data columns (total 12 columns):
tweet_id              2094 non-null object
timestamp             2094 non-null datetime64[ns]
source                2094 non-null object
text                  2094 non-null object
expanded_urls         2094 non-null object
rating_numerator      2094 non-null int64
rating_denominator    2094 non-null int64
name                  2094 non-null object
doggo                 2094 non-null object
floofer               2094 non-null object
pupper                2094 non-null object
puppo                 2094 non-null object
dtypes: datetime64[ns](1), int64(2), object(9)
memory usage: 212.7+ KB

In [28]:
tweet_data_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2337 entries, 0 to 2336
Data columns (total 3 columns):
favorite_count    2337 non-null int64
retweet_count     2337 non-null int64
tweet_id          2337 non-null object
dtypes: int64(2), object(1)
memory usage: 54.9+ KB

In [29]:
image_predictions_clean.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2075 entries, 0 to 2074
Data columns (total 12 columns):
tweet_id    2075 non-null object
jpg_url     2075 non-null object
img_num     2075 non-null int64
p1          2075 non-null object
p1_conf     2075 non-null float64
p1_dog      2075 non-null bool
p2          2075 non-null object
p2_conf     2075 non-null float64
p2_dog      2075 non-null bool
p3          2075 non-null object
p3_conf     2075 non-null float64
p3_dog      2075 non-null bool
dtypes: bool(3), float64(3), int64(1), object(5)
memory usage: 152.1+ KB

### Coluna source com padrão html

#### Definir
Extrair string usando expressão regular e pandas

#### Programar

In [30]:
twitter_archive_clean['source'] = twitter_archive_clean.source.str.extract('>([^\']+)<', expand=True)

#### Testar

In [31]:
twitter_archive_clean.head()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
0,892420643555336193,2017-08-01 16:23:56,Twitter for iPhone,This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,None,None,None
1,892177421306343426,2017-08-01 00:17:27,Twitter for iPhone,"This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,None,None,None
2,891815181378084864,2017-07-31 00:18:03,Twitter for iPhone,This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,None,None,None
3,891689557279858688,2017-07-30 15:58:51,Twitter for iPhone,This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None,None,None,None
4,891327558926688256,2017-07-29 16:00:24,Twitter for iPhone,"This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f","https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,None,None,None,None

In [32]:
twitter_archive_clean.source.unique()

array(['Twitter for iPhone', 'Twitter Web Client', 'Vine - Make a Scene',
       'TweetDeck'], dtype=object)

### Palavras com letras minúsculas que não são nomes na coluna name. Ex: an, the e a.
Nomes errados na coluna name

In [33]:
twitter_archive_clean.name.value_counts().head(10)

None       600
a          55
Lucy       11
Charlie    11
Oliver     10
Cooper     10
Penny      9
Tucker     9
Lola       8
the        8
Name: name, dtype: int64

#### Definir
Separar os valores que não são nomes, palavras iniciadas com letra minúscula e alterar para None.

#### Programar

In [34]:
#identificando os nomes
nomes = twitter_archive_clean[twitter_archive_clean['name'].str.islower()]['name'].value_counts()
nomes

a               55
the             8
an              6
very            4
one             4
quite           3
just            3
getting         2
not             2
actually        2
infuriating     1
mad             1
my              1
by              1
old             1
officially      1
all             1
this            1
such            1
space           1
life            1
unacceptable    1
light           1
his             1
incredibly      1
Name: name, dtype: int64

In [35]:
#Separando as palavras
nomes.keys()

Index(['a', 'the', 'an', 'very', 'one', 'quite', 'just', 'getting', 'not',
       'actually', 'infuriating', 'mad', 'my', 'by', 'old', 'officially',
       'all', 'this', 'such', 'space', 'life', 'unacceptable', 'light', 'his',
       'incredibly'],
      dtype='object')

In [36]:
#Substituindo valores
twitter_archive_clean.name = twitter_archive_clean.name.replace(nomes.keys(), 'None')

#### Testar

In [37]:
twitter_archive_clean[twitter_archive_clean['name'].str.islower()]['name'].value_counts()

Series([], Name: name, dtype: int64)

In [38]:
twitter_archive_clean.name.value_counts().head(10)

None       704
Charlie    11
Lucy       11
Oliver     10
Cooper     10
Tucker     9
Penny      9
Winston    8
Sadie      8
Lola       8
Name: name, dtype: int64

### Valores de `rating_denominator` diferente de 10

#### Definir
Tweets em que o denominator for maior que 10 e múltiplos de 10, terão o numerador e denominador divididos por um denominador em comum que resulte no denominador 10.  
Tweets em que o denominador for menor que 10, terão o numerador e denominador substituídos pelos valores informados no campo texto.

In [39]:
twitter_archive_clean.describe()

       rating_numerator  rating_denominator
count  2094.000000       2094.000000
mean   12.191500         10.449379
std    40.393858         6.649800
min    0.000000          2.000000
25%    10.000000         10.000000
50%    11.000000         10.000000
75%    12.000000         10.000000
max    1776.000000       170.000000

In [40]:
twitter_archive_clean[twitter_archive_clean.rating_denominator < 10]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
403,810984652412424192,2016-12-19 23:06:23,Twitter for iPhone,Meet Sam. She smiles 24/7 &amp; secretly aspires to be a reindeer. \nKeep Sam smiling by clicking and sharing this link:\nhttps://t.co/98tB8y7y7t https://t.co/LouL5vdvxx,"https://www.gofundme.com/sams-smile,https://twitter.com/dog_rates/status/810984652412424192/photo/1",24,7,Sam,None,None,None,None
2076,666287406224695296,2015-11-16 16:11:11,Twitter for iPhone,This is an Albanian 3 1/2 legged Episcopalian. Loves well-polished hardwood flooring. Penis on the collar. 9/10 https://t.co/d9NcXFKwLv,https://twitter.com/dog_rates/status/666287406224695296/photo/1,1,2,None,None,None,None,None

In [41]:
twitter_archive_clean[twitter_archive_clean.rating_denominator > 10]

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
339,820690176645140481,2017-01-15 17:52:40,Twitter for iPhone,The floofs have been released I repeat the floofs have been released. 84/70 https://t.co/NIYC820tmd,"https://twitter.com/dog_rates/status/820690176645140481/photo/1,https://twitter.com/dog_rates/status/820690176645140481/photo/1,https://twitter.com/dog_rates/status/820690176645140481/photo/1",84,70,None,None,None,None,None
700,758467244762497024,2016-07-28 01:00:57,Twitter for iPhone,Why does this never happen at my front door... 165/150 https://t.co/HmwrdfEfUE,https://twitter.com/dog_rates/status/758467244762497024/video/1,165,150,None,None,None,None,None
853,740373189193256964,2016-06-08 02:41:38,Twitter for iPhone,"After so many requests, this is Bretagne. She was the last surviving 9/11 search dog, and our second ever 14/10. RIP https://t.co/XAVDNDaVgQ","https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1,https://twitter.com/dog_rates/status/740373189193256964/photo/1",9,11,None,None,None,None,None
904,731156023742988288,2016-05-13 16:15:54,Twitter for iPhone,Say hello to this unbelievably well behaved squad of doggos. 204/170 would try to pet all at once https://t.co/yGQI3He3xv,https://twitter.com/dog_rates/status/731156023742988288/photo/1,204,170,None,None,None,None,None
948,722974582966214656,2016-04-21 02:25:47,Twitter for iPhone,Happy 4/20 from the squad! 13/10 for all https://t.co/eV1diwds8a,https://twitter.com/dog_rates/status/722974582966214656/photo/1,4,20,None,None,None,None,None
985,716439118184652801,2016-04-03 01:36:11,Twitter for iPhone,This is Bluebert. He just saw that both #FinalFur match ups are split 50/50. Amazed af. 11/10 https://t.co/Kky1DPG4iq,https://twitter.com/dog_rates/status/716439118184652801/photo/1,50,50,Bluebert,None,None,None,None
1011,713900603437621249,2016-03-27 01:29:02,Twitter for iPhone,Happy Saturday here's 9 puppers on a bench. 99/90 good work everybody https://t.co/mpvaVxKmc1,https://twitter.com/dog_rates/status/713900603437621249/photo/1,99,90,None,None,None,None,None
1036,710658690886586372,2016-03-18 02:46:49,Twitter for iPhone,Here's a brigade of puppers. All look very prepared for whatever happens next. 80/80 https://t.co/0eb7R1Om12,https://twitter.com/dog_rates/status/710658690886586372/photo/1,80,80,None,None,None,None,None
1056,709198395643068416,2016-03-14 02:04:08,Twitter for iPhone,"From left to right:\nCletus, Jerome, Alejandro, Burp, &amp; Titson\nNone know where camera is. 45/50 would hug all at once https://t.co/sedre1ivTK",https://twitter.com/dog_rates/status/709198395643068416/photo/1,45,50,None,None,None,None,None
1129,704054845121142784,2016-02-28 21:25:30,Twitter for iPhone,Here is a whole flock of puppers. 60/50 I'll take the lot https://t.co/9dpcw6MdWa,https://twitter.com/dog_rates/status/704054845121142784/photo/1,60,50,None,None,None,None,None
1210,697463031882764288,2016-02-10 16:51:59,Twitter for iPhone,Happy Wednesday here's a bucket of pups. 44/40 would pet all at once https://t.co/HppvrYuamZ,https://twitter.com/dog_rates/status/697463031882764288/photo/1,44,40,None,None,None,None,None
1399,684222868335505415,2016-01-05 04:00:18,Twitter for iPhone,Someone help the girl is being mugged. Several are distracting her while two steal her shoes. Clever puppers 121/110 https://t.co/1zfnTJLt55,https://twitter.com/dog_rates/status/684222868335505415/photo/1,121,110,None,None,None,None,None
1426,682962037429899265,2016-01-01 16:30:13,Twitter for iPhone,This is Darrel. He just robbed a 7/11 and is in a high speed police chase. Was just spotted by the helicopter 10/10 https://t.co/7EsP8LmSp5,https://twitter.com/dog_rates/status/682962037429899265/photo/1,7,11,Darrel,None,None,None,None
1540,677716515794329600,2015-12-18 05:06:23,Twitter for iPhone,IT'S PUPPERGEDDON. Total of 144/120 ...I think https://t.co/ZanVtAtvIq,https://twitter.com/dog_rates/status/677716515794329600/photo/1,144,120,None,None,None,None,None
1602,675853064436391936,2015-12-13 01:41:41,Twitter for iPhone,Here we have an entire platoon of puppers. Total score: 88/80 would pet all at once https://t.co/y93p6FLvVw,"https://twitter.com/dog_rates/status/675853064436391936/photo/1,https://twitter.com/dog_rates/status/675853064436391936/photo/1",88,80,None,None,None,None,None

#### Programar

In [42]:
#Dividindo o numerador e denominador por um denominador comum 
for line in twitter_archive_clean:
    deno = twitter_archive_clean[twitter_archive_clean['rating_denominator'] > 10]
    for tweet_id in deno: 
        den_comun = twitter_archive_clean['rating_denominator']/10
        twitter_archive_clean['rating_denominator'] = (twitter_archive_clean['rating_denominator']/den_comun).astype(int)
        twitter_archive_clean['rating_numerator'] = (twitter_archive_clean['rating_numerator']/den_comun).astype(int)

In [43]:
# Alterando o rating_numerator e rating_denominator do tweet_id 666287406224695296, conforme informação do campo texto.
id = twitter_archive_clean.tweet_id == '666287406224695296'
twitter_archive_clean.loc[id, 'rating_denominator'] = 10
twitter_archive_clean.loc[id, 'rating_numerator'] = 9

#### Testar

In [44]:
#Verificando a alteração do tweet 666287406224695296
twitter_archive_clean[twitter_archive_clean.tweet_id == '666287406224695296']

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,doggo,floofer,pupper,puppo
2076,666287406224695296,2015-11-16 16:11:11,Twitter for iPhone,This is an Albanian 3 1/2 legged Episcopalian. Loves well-polished hardwood flooring. Penis on the collar. 9/10 https://t.co/d9NcXFKwLv,https://twitter.com/dog_rates/status/666287406224695296/photo/1,9,10,None,None,None,None,None

In [45]:
#Verificando se ainda existem denominadores maiores que 10
twitter_archive_clean[twitter_archive_clean.rating_denominator > 10].head(2)

Empty DataFrame
Columns: [tweet_id, timestamp, source, text, expanded_urls, rating_numerator, rating_denominator, name, doggo, floofer, pupper, puppo]
Index: []

In [46]:
twitter_archive_clean.describe()

       rating_numerator  rating_denominator
count  2094.000000       2094.0
mean   11.695798         10.0
std    39.687427         0.0
min    0.000000          10.0
25%    10.000000         10.0
50%    11.000000         10.0
75%    12.000000         10.0
max    1776.000000       10.0

### Valores de `rating_numerator` fora do padrão

#### Definição
Alterar com o valor definido no campo texto.

In [47]:
twitter_archive_clean[twitter_archive_clean.rating_numerator > 12][['tweet_id', 'text', 'rating_numerator', 'rating_denominator']]

,tweet_id,text,rating_numerator,rating_denominator
0,892420643555336193,This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,13,10
1,892177421306343426,"This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",13,10
3,891689557279858688,This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,13,10
5,891087950875897856,Here we have a majestic great white breaching off South Africa's coast. Absolutely h*ckin breathtaking. 13/10 (IG: tucker_marlo) #BarkWeek https://t.co/kQ04fDDRmh,13,10
6,890971913173991426,Meet Jax. He enjoys ice cream so much he gets nervous around it. 13/10 help Jax enjoy more things by clicking below\n\nhttps://t.co/Zr4hWfAs1H https://t.co/tVJBRMnhxl,13,10
7,890729181411237888,When you watch your owner call another dog a good boy but then they turn back to you and say you're a great boy. 13/10 https://t.co/v0nONBcwxq,13,10
8,890609185150312448,This is Zoey. She doesn't want to be one of the scary sharks. Just wants to be a snuggly pettable boatpet. 13/10 #BarkWeek https://t.co/9TwLuAGH0b,13,10
9,890240255349198849,This is Cassie. She is a college pup. Studying international doggo communication and stick theory. 14/10 so elegant much sophisticate https://t.co/t1bfwz5S2A,14,10
10,890006608113172480,This is Koda. He is a South Australian deckshark. Deceptively deadly. Frighteningly majestic. 13/10 would risk a petting #BarkWeek https://t.co/dVPW0B0Mme,13,10
11,889880896479866881,This is Bruno. He is a service shark. Only gets out of the water to assist you. 13/10 terrifyingly good boy https://t.co/u1XPQMl29g,13,10
12,889665388333682689,Here's a puppo that seems to be on the fence about something haha no but seriously someone help her. 13/10 https://t.co/BxvuXk0UCm,13,10
14,889531135344209921,This is Stuart. He's sporting his favorite fanny pack. Secretly filled with bones only. 13/10 puppared puppo #BarkWeek https://t.co/y70o6h3isq,13,10
15,889278841981685760,This is Oliver. You're witnessing one of his many brutal attacks. Seems to be playing with his victim. 13/10 fr*ckin frightening #BarkWeek https://t.co/WpHvrQedPb,13,10
17,888804989199671297,This is Zeke. He has a new stick. Very proud of it. Would like you to throw it for him without taking it. 13/10 would do my best https://t.co/HTQ77yNQ5K,13,10
18,888554962724278272,This is Ralphus. He's powering up. Attempting maximum borkdrive. 13/10 inspirational af https://t.co/YnYAFCTTiK,13,10
20,887705289381826560,This is Jeffrey. He has a monopoly on the pool noodles. Currently running a 'boop for two' midweek sale. 13/10 h*ckin strategic https://t.co/PhrUk20Q64,13,10
21,887517139158093824,I've yet to rate a Venezuelan Hover Wiener. This is such an honor. 14/10 paw-inspiring af (IG: roxy.thedoxy) https://t.co/20VrLAA8ba,14,10
22,887473957103951883,This is Canela. She attempted some fancy porch pics. They were unsuccessful. 13/10 someone help her https://t.co/cLyzpcUcMX,13,10
23,887343217045368832,You may not have known you needed to see this today. 13/10 please enjoy (IG: emmylouroo) https://t.co/WZqNqygEyV,13,10
25,886983233522544640,This is Maya. She's very shy. Rarely leaves her cup. 13/10 would find her an environment to thrive in https://t.co/I6oNy0CgiT,13,10
26,886736880519319552,"This is Mingus. He's a wonderful father to his smol pup. Confirmed 13/10, but he needs your help\n\nhttps://t.co/bVi0Yr4Cff https://t.co/ISvKOSkd5b",13,10
27,886680336477933568,This is Derek. He's late for a dog meeting. 13/10 pet...al to the metal https://t.co/BCoWue0abA,13,10
29,886258384151887873,This is Waffles. His doggles are pupside down. Unsure how to fix. 13/10 someone assist Waffles https://t.co/xZDA9Qsq1O,13,10
31,885528943205470208,This is Maisey. She fell asleep mid-excavation. Happens to the best of us. 13/10 would pat noggin approvingly https://t.co/tp1kQ8i9JF,13,10
32,885518971528720385,I have a new hero and his name is Howard. 14/10 https://t.co/gzLHboL7Sk,14,10
33,885167619883638784,Here we have a corgi undercover as a malamute. Pawbably doing important investigative work. Zero control over tongue happenings. 13/10 https://t.co/44ItaMubBf,13,10
35,884876753390489601,This is Lola. It's her first time outside. Must test the earth and taste the atmosphere. 13/10 you're doing great Lola https://t.co/74TKAUsLkO,13,10
36,884562892145688576,This is Kevin. He's just so happy. 13/10 what is your secret Kevin https://t.co/1r4MFCbCX5,13,10
37,884441805382717440,"I present to you, Pup in Hat. Pup in Hat is great for all occasions. Extremely versatile. Compact as h*ck. 14/10 (IG: itselizabethgales) https://t.co/vvBOcC2VdC",14,10
38,884247878851493888,OMG HE DIDN'T MEAN TO HE WAS JUST TRYING A LITTLE BARKOUR HE'S SUPER SORRY 13/10 WOULD FORGIVE IMMEDIATE https://t.co/uF3pQ8Wubj,13,10
...,...,...,...,...
1107,706153300320784384,This is Layla. She's giving you a standing ovation.13/10 just magnificent (vid by @CSBrzezinski) https://t.co/KxYXHUHUi2,13,10
1122,704761120771465216,This pupper killed this great white in an epic sea battle. Now wears it as a trophy. Such brave. Much fierce. 13/10 https://t.co/Lu0ECu5tO5,13,10
1146,702332542343577600,This is Rudy. He's going to be a star. 13/10 talented af (vid by @madalynrossi) https://t.co/Dph4FDGoMd,13,10
1187,699036661657767936,HAPPY V-DAY FROM YOUR FAV PUPPER SQUAD 13/10 for all https://t.co/7u6VnZ1UFe,13,10
1188,698989035503689728,This is Oliver. He does toe touches in his sleep. 13/10 precious af https://t.co/3BrRIWjG35,13,10
1227,695794761660297217,This is Wyatt. His throne is modeled after him. 13/10 Wyatt is a very big deal https://t.co/PccQ1CFEDd,13,10
1265,692752401762250755,"""Hello yes could I get one pupper to go please thank you""\nBoth 13/10 https://t.co/kYWcXbluUu",13,10
1272,692041934689402880,This is Teddy. His head is too heavy. 13/10 (vid by @jooanrim) https://t.co/sRUpRpGZ3y,13,10
1281,691416866452082688,I present to you... Dog Jesus. 13/10 (he could be sitting on a rock but I doubt it) https://t.co/fR1P3g5I6k,13,10
1289,690735892932222976,Say hello to Peaches. She's a Dingleberry Zanderfloof. 13/10 would caress lots https://t.co/YrhkrTsoTt,13,10
1314,689289219123089408,Someone sent me this without any context and every aspect of it is spectacular. 13/10 please enjoy https://t.co/Rxrd4hPmp4,13,10
1331,688211956440801280,This is Derby. He's a superstar. 13/10 (vid by @NBohlmann) https://t.co/o4Nfc8WoAO,13,10
1335,687841446767013888,13/10 I can't stop watching this (vid by @k8lynwright) https://t.co/nZhhMRr5Hp,13,10
1376,685547936038666240,Everybody needs to read this. Jack is our first 14/10. Truly heroic pupper https://t.co/3m6bNGXWnM,14,10
1391,684830982659280897,This little fella really hates stairs. Prefers bush. 13/10 legendary pupper https://t.co/e3LPMAHj7p,13,10
1474,680494726643068929,Here we have uncovered an entire battalion of holiday puppers. Average of 11.26/10 https://t.co/eNm2S6p9BD,26,10
1494,679828447187857408,Everybody look at this beautiful pupper 13/10 https://t.co/hyAC5Hq9GC,13,10
1575,676617503762681856,I promise this wasn't meant to be a cuteness overload account but ermergerd look at this cozy pupper. 13/10 https://t.co/mpQl2rJjDh,13,10
1615,675501075957489664,"I shall call him squishy and he shall be mine, and he shall be my squishy. 13/10 https://t.co/WId5lxNdPH",13,10
1620,675372240448454658,"The tail alone is 13/10. Great dog, better owner https://t.co/IyAXinfyju",13,10
1622,675354435921575936,Everyone needs to watch this. 13/10 https://t.co/Bb3xnpsWBC,13,10
1640,674790488185167872,ER... MER... GERD 13/10 https://t.co/L1puJISV1a,13,10
1657,674468880899788800,This is Louis. He thinks he's flying. 13/10 this is a legendary pup https://t.co/6d9WziPXmx,13,10
1701,673680198160809984,This is Shnuggles. I would kill for Shnuggles. 13/10 https://t.co/GwvpQiQ7oQ,13,10
1779,671789708968640512,This is space pup. He's very confused. Tries to moonwalk at one point. Super spiffy uniform. 13/10 I love space pup https://t.co/SfPQ2KeLdq,13,10
1785,671561002136281088,This is the best thing I've ever seen so spread it like wildfire &amp; maybe we'll find the genius who created it. 13/10 https://t.co/q6RsuOVYwU,13,10
1821,670842764863651840,After so many requests... here you go.\n\nGood dogg. 420/10 https://t.co/yfAAo1gdeY,420,10
1917,669327207240699904,Just got home from college. Dis my dog. She does all my homework. Big red turd in background. 13/10 no bias at all https://t.co/6WGFp9cuj6,13,10
1956,668587383441514497,Never forget this vine. You will not stop watching for at least 15 minutes. This is the second coveted.. 13/10 https://t.co/roqIxCvEB3,13,10
1972,668256321989451776,This is Jareld. Jareld rules these waters. Ladies and Gentleman... 13/10. This dog is utterly fucking spectacular. https://t.co/L6qAEV5PAd,13,10

In [48]:
twitter_archive_clean[twitter_archive_clean.rating_numerator < 10][['tweet_id', 'text', 'rating_numerator', 'rating_denominator']]

,tweet_id,text,rating_numerator,rating_denominator
41,883482846933004288,"This is Bella. She hopes her smile made you smile. If not, she is also offering you her favorite monkey. 13.5/10 https://t.co/qjrljjt948",5,10
184,848212111729840128,"This is Jerry. He's doing a distinguished tongue slip. Slightly patronizing tbh. You think you're better than us, Jerry? 6/10 hold me back https://t.co/DkOBbwulw1",6,10
246,835152434251116546,When you're so blinded by your systematic plagiarism that you forget what day it is. 0/10 https://t.co/YbEJPkg4Ag,0,10
559,781661882474196992,Who keeps sending in pictures without dogs in them? This needs to stop. 5/10 for the mediocre road https://t.co/ELqelxWMrC,5,10
587,777885040357281792,This is Wesley. He's clearly trespassing. Seems rather h*ckin violent too. Weaponized forehead. 3/10 wouldn't let in https://t.co/pL7wbMRW7M,3,10
628,771014301343748096,Another pic without a dog in it? What am I supposed to do? Rate the carpet? Fine I will. 7/10 looks adequately comfy https://t.co/OJZQ6I4gGd,7,10
643,768193404517830656,Meet Gerald. He's a fairly exotic doggo. Floofy af. Inadequate knees tho. Self conscious about large forehead. 8/10 https://t.co/WmczvjCWJq,8,10
651,766423258543644672,This is Shadoe. Her tongue flies out of her mouth at random. Can't have a serious conversation with her. 9/10 https://t.co/Tytt15VquG,9,10
663,763183847194451968,This is Clark. He collects teddy bears. It's absolutely h*ckin horrifying. 8/10 please stop this Clark https://t.co/EDMcwt86fU,8,10
684,760252756032651264,This is Fido. He can tell the weather. Not good at fetch tho. Never comes when called. 4/10 would probably still pet https://t.co/4gOv2Q3iKP,4,10
694,759099523532779520,Meet Toby. He has a drinking problem. Inflatable marijuana plant in the back is also not a good look. 7/10 cmon Toby https://t.co/Cim4DSj6Oi,7,10
704,758041019896193024,Teagan reads entire books in store so they're free. Loved 50 Shades of Grey (how dare I make that joke so late) 9/10 https://t.co/l46jwv5WYv,9,10
708,757596066325864448,Here's another picture without a dog in it. Idk why you guys keep sending these. 4/10 just because that's a neat rug https://t.co/mOmnL19Wsl,4,10
711,757354760399941633,"This is Devón (pronounced ""Eric""). He forgot how to eat the apple halfway through. Wtf Devón get it together. 8/10 https://t.co/7waRPODGyO",8,10
731,753375668877008896,This is Hank. He's mischievous af. Doesn't even know what he was trying to do here. 8/10 quit the shit Hank damn https://t.co/3r7wjfsXHc,8,10
739,752568224206688256,Here are three doggos completely misjudging an airborne stick. Decent efforts tho. All 9/10 https://t.co/HCXQL4fGVZ,9,10
741,752334515931054080,Here's a doggo trying to catch some fish. 8/10 futile af (vid by @KellyBauerx) https://t.co/jwd0j6oWLE,8,10
748,751583847268179968,Please stop sending it pictures that don't even have a doggo or pupper in them. Churlish af. 5/10 neat couch tho https://t.co/u2c9c7qSg8,5,10
756,750506206503038976,This is Malcolm. He's absolutely terrified of heights. 8/10 hang in there pupper https://t.co/SVU00Sc9U2,8,10
758,750383411068534784,This is Zoe. She was trying to stealthily take a picture of you but you just noticed. 9/10 not so sneaky pupper https://t.co/FfH3o88Vta,9,10
778,749036806121881602,This is Dietrich. He hops at random. Other doggos don't understand him. It upsets him greatly. 8/10 would comfort https://t.co/U8cSRz8wzC,8,10
784,748575535303884801,This is one of the most reckless puppers I've ever seen. How she got a license in the first place is beyond me. 6/10 https://t.co/z5bAdtn9kd,6,10
789,748307329658011649,"This sherk must've leapt out of the water and into the canoe, trapping the human. Won't even help paddle smh. 7/10 https://t.co/KubWEqOIgO",7,10
793,747885874273214464,This is a mighty rare blue-tailed hammer sherk. Human almost lost a limb trying to take these. Be careful guys. 8/10 https://t.co/TGenMeXreW,8,10
795,747816857231626240,Viewer discretion is advised. This is a terrible attack in progress. Not even in water (tragic af). 4/10 bad sherk https://t.co/L3U0j14N5R,4,10
811,746369468511756288,This is an Iraqi Speed Kangaroo. It is not a dog. Please only send in dogs. I'm very angry with all of you ...9/10 https://t.co/5qpBTTpgUt,9,10
815,745712589599014916,This is Percy. He fell asleep at the wheel. Irresponsible af. 7/10 absolute menace on the roadway https://t.co/QHbvtvaw8E,7,10
817,745422732645535745,We only rate dogs. Pls stop sending in non-canines like this Jamaican Flop Seal. This is very very frustrating. 9/10 https://t.co/nc53zEN0hZ,9,10
821,744995568523612160,This is Abby. She got her face stuck in a glass. Churlish af. 9/10 rookie move puppo https://t.co/2FPb45NXrK,9,10
830,743595368194129920,This is Harold. He looks slippery af. Probably difficult to hug. Would still try tho. 7/10 great with kids I bet https://t.co/EVuqdEO66N,7,10
...,...,...,...,...
2053,666776908487630848,This is Josep. He is a Rye Manganese mix. Can drive w eyes closed. Very irresponsible. Menace on the roadways. 5/10 https://t.co/XNGeDwrtYH,5,10
2055,666701168228331520,This is a golden Buckminsterfullerene named Johm. Drives trucks. Lumberjack (?). Enjoys wall. 8/10 would hug softly https://t.co/uQbZJM2DQB,8,10
2056,666691418707132416,This is Christoper. He is a spotted Penne. Can easily navigate stairs. 8/10 https://t.co/bg4TqvvkuF,8,10
2057,666649482315059201,Cool dog. Enjoys couch. Low monotone bark. Very nice kicks. Pisses milk (must be rare). Can't go down stairs. 4/10 https://t.co/vXMKrJC81s,4,10
2058,666644823164719104,This is Jimothy. He is a Botwanian Gouda. Can write (impressive). Very erect tail. Still looking for hoco date. 9/10 https://t.co/LEkZjZxESQ,9,10
2060,666447344410484738,This is Scout. She is a black Downton Abbey. Isn't afraid to get dirty. 9/10 nothing bad to say https://t.co/kH60oka1HW,9,10
2061,666437273139982337,Here we see a lone northeastern Cumberbatch. Half ladybug. Only builds with bricks. Very confident with body. 7/10 https://t.co/7LtjBS0GPK,7,10
2063,666430724426358785,Oh boy what a pup! Sunglasses take this one to the next level. Weirdly folds front legs. Pretty big. 6/10 https://t.co/yECbFrSArM,6,10
2064,666428276349472768,Here we have an Austrian Pulitzer. Collectors edition. Levitates (?). 7/10 would garden with https://t.co/NMQq6HIglK,7,10
2067,666411507551481857,This is quite the dog. Gets really excited when not in water. Not very soft tho. Bad at fetch. Can't do tricks. 2/10 https://t.co/aMCTNWO94t,2,10
2068,666407126856765440,This is a southern Vesuvius bumblegruff. Can drive a truck (wow). Made friends with 5 other nifty dogs (neat). 7/10 https://t.co/LopTBkKa8h,7,10
2069,666396247373291520,Oh goodness. A super rare northeast Qdoba kangaroo mix. Massive feet. No pouch (disappointing). Seems alert. 9/10 https://t.co/Dc7b0E8qFE,9,10
2071,666362758909284353,Unique dog here. Very small. Lives in container of Frosted Flakes (?). Short legs. Must be rare 6/10 would still pet https://t.co/XMD9CwjEnM,6,10
2072,666353288456101888,Here we have a mixed Asiago from the Galápagos Islands. Only one ear working. Big fan of marijuana carpet. 8/10 https://t.co/tltQ5w9aUO,8,10
2074,666337882303524864,This is an extremely rare horned Parthenon. Not amused. Wears shoes. Overall very nice. 9/10 would pet aggressively https://t.co/QpRjllzWAL,9,10
2075,666293911632134144,This is a funny dog. Weird toes. Won't come down. Loves branch. Refuses to eat his food. Hard to cuddle with. 3/10 https://t.co/IIXis0zta0,3,10
2076,666287406224695296,This is an Albanian 3 1/2 legged Episcopalian. Loves well-polished hardwood flooring. Penis on the collar. 9/10 https://t.co/d9NcXFKwLv,9,10
2079,666104133288665088,Not familiar with this breed. No tail (weird). Only 2 legs. Doesn't bark. Surprisingly quick. Shits eggs. 1/10 https://t.co/Asgdc6kuLX,1,10
2081,666099513787052032,Can stand on stump for what seems like a while. Built that birdhouse? Impressive. Made friends with a squirrel. 8/10 https://t.co/Ri4nMTLq5C,8,10
2082,666094000022159362,This appears to be a Mongolian Presbyterian mix. Very tired. Tongue slip confirmed. 9/10 would lie down with https://t.co/mnioXo3IfP,9,10
2083,666082916733198337,Here we have a well-established sunblockerspaniel. Lost his other flip-flop. 6/10 not very waterproof https://t.co/3RU6x0vHB7,6,10
2085,666071193221509120,Here we have a northern speckled Rhododendron. Much sass. Gives 0 fucks. Good tongue. 9/10 would caress sensually https://t.co/ZoL8kq2XFx,9,10
2087,666058600524156928,Here is the Rand Paul of retrievers folks! He's probably good at poker. Can drink beer (lol rad). 8/10 good dog https://t.co/pYAJkAe76p,8,10
2088,666057090499244032,My oh my. This is a rare blond Canadian terrier on wheels. Only $8.98. Rather docile. 9/10 very rare https://t.co/yWBqbrzy8O,9,10
2090,666051853826850816,This is an odd dog. Hard on the outside but loving on the inside. Petting still fun. Doesn't play catch well. 2/10 https://t.co/v5A4vzSDdc,2,10
2092,666049248165822465,Here we have a 1949 1st generation vulpix. Enjoys sweat tea and Fox News. Cannot be phased. 5/10 https://t.co/4B7cOc1EDq,5,10
2093,666044226329800704,This is a purebred Piers Morgan. Loves to Netflix and chill. Always looks like he forgot to unplug the iron. 6/10 https://t.co/DWnyCjf2mx,6,10
2094,666033412701032449,Here is a very happy pup. Big fan of well-maintained decks. Just look at that tongue. 9/10 would cuddle af https://t.co/y671yMhoiR,9,10
2095,666029285002620928,This is a western brown Mitsubishi terrier. Upset about leaf. Actually 2 dogs here. 7/10 would walk the shit out of https://t.co/r7mOb2m0UI,7,10
2096,666020888022790149,Here we have a Japanese Irish Setter. Lost eye in Vietnam (?). Big fan of relaxing on stair. 8/10 would pet https://t.co/BLDqew2Ijj,8,10

#### Programar

In [49]:
#810984652412424192 excluir por que não há informação de numerator/denominator
twitter_archive_clean = twitter_archive_clean[twitter_archive_clean.tweet_id != '810984652412424192']

#786709082849828864 corrigir para 9.75 -> 10
id = twitter_archive_clean.tweet_id == '786709082849828864'
twitter_archive_clean.loc[id, 'rating_numerator'] = 10

#778027034220126208 corrigir para 11.27
id = twitter_archive_clean.tweet_id == '778027034220126208'
twitter_archive_clean.loc[id, 'rating_numerator'] = 11.27

# tweet 749981277374128128 será excluído pois não há informação correta do rating_numerator em nenhum outro campo. 
twitter_archive_clean = twitter_archive_clean[twitter_archive_clean.tweet_id != '749981277374128128']


#680494726643068929 corrigir para 11.26 
id = twitter_archive_clean.tweet_id == '680494726643068929'
twitter_archive_clean.loc[id, 'rating_numerator'] = 11.26

#Tweet 670842764863651840 será excluído pois se trata do Rapper Snoop Dogg e não de cachorro. 
twitter_archive_clean = twitter_archive_clean[twitter_archive_clean.tweet_id != '670842764863651840']

id = twitter_archive_clean.tweet_id == '883482846933004288'
twitter_archive_clean.loc[id, 'rating_numerator'] == 13

#883482846933004288 alterar para 13.5
id = twitter_archive_clean.tweet_id == '883482846933004288'
twitter_archive_clean.loc[id, 'rating_numerator'] = 13.5

#Alterar type para int
twitter_archive_clean['rating_numerator'] = twitter_archive_clean['rating_numerator'].astype(int)

#### Testar

In [50]:
twitter_archive_clean.describe()

       rating_numerator  rating_denominator
count  2091.000000       2091.0
mean   10.604017         10.0
std    2.155457          0.0
min    0.000000          10.0
25%    10.000000         10.0
50%    11.000000         10.0
75%    12.000000         10.0
max    14.000000         10.0

In [51]:
twitter_archive_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2091 entries, 0 to 2096
Data columns (total 12 columns):
tweet_id              2091 non-null object
timestamp             2091 non-null datetime64[ns]
source                2091 non-null object
text                  2091 non-null object
expanded_urls         2091 non-null object
rating_numerator      2091 non-null int32
rating_denominator    2091 non-null int32
name                  2091 non-null object
doggo                 2091 non-null object
floofer               2091 non-null object
pupper                2091 non-null object
puppo                 2091 non-null object
dtypes: datetime64[ns](1), int32(2), object(9)
memory usage: 196.0+ KB

### Colunas p1, p2 e p3 com raças em letra minúscula  
Obs.: as colunas p1, p2 e p3 se transformaram na coluna dog no dataframe master

#### Definir
Alterar primeira letra para maiúscula com a função title.

#### Programar

In [52]:
colunas = ['p1', 'p2', 'p3']
image_predictions_clean[colunas] = image_predictions_clean[colunas].apply(lambda x: x.str.title())

#### Testar

In [53]:
image_predictions_clean.head(10)

,tweet_id,jpg_url,img_num,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_Springer_Spaniel,0.465074,True,Collie,0.156665,True,Shetland_Sheepdog,0.061428,True
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,Redbone,0.506826,True,Miniature_Pinscher,0.074192,True,Rhodesian_Ridgeback,0.072010,True
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_Shepherd,0.596461,True,Malinois,0.138584,True,Bloodhound,0.116197,True
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_Ridgeback,0.408143,True,Redbone,0.360687,True,Miniature_Pinscher,0.222752,True
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,Miniature_Pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True
5,666050758794694657,https://pbs.twimg.com/media/CT5Jof1WUAEuVxN.jpg,1,Bernese_Mountain_Dog,0.651137,True,English_Springer,0.263788,True,Greater_Swiss_Mountain_Dog,0.016199,True
6,666051853826850816,https://pbs.twimg.com/media/CT5KoJ1WoAAJash.jpg,1,Box_Turtle,0.933012,False,Mud_Turtle,0.045885,False,Terrapin,0.017885,False
7,666055525042405380,https://pbs.twimg.com/media/CT5N9tpXIAAifs1.jpg,1,Chow,0.692517,True,Tibetan_Mastiff,0.058279,True,Fur_Coat,0.054449,False
8,666057090499244032,https://pbs.twimg.com/media/CT5PY90WoAAQGLo.jpg,1,Shopping_Cart,0.962465,False,Shopping_Basket,0.014594,False,Golden_Retriever,0.007959,True
9,666058600524156928,https://pbs.twimg.com/media/CT5Qw94XAAA_2dP.jpg,1,Miniature_Poodle,0.201493,True,Komondor,0.192305,True,Soft-Coated_Wheaten_Terrier,0.082086,True

## Arrumação

### Colunas doggo, doggo, pupper, puppo, representam a mesma variável (dog_stage) e estão separadas em 4 colunas

#### Definir

Melt nas 4 colunas e transformar em apenas 1 coluna dog_stage

In [54]:
# Verificar a quantidade de cada tipo

print('Doggo: ', twitter_archive_clean.doggo.value_counts()[1])      
print('Floofer: ', twitter_archive_clean.floofer.value_counts()[1])     
print('Pupper: ', twitter_archive_clean.pupper.value_counts()[1])     
print('Puppo: ', twitter_archive_clean.puppo.value_counts()[1])
shape = twitter_archive_clean[(twitter_archive_clean.doggo == 'None') & (twitter_archive_clean.floofer == 'None') & (twitter_archive_clean.pupper == 'None') & (twitter_archive_clean.puppo == 'None')].shape
print('None: ', shape[0])
print(twitter_archive_clean.shape)

Doggo:  83
Floofer:  10
Pupper:  229
Puppo:  24
None:  1756
(2091, 12)

In [55]:
twitter_archive_clean[['tweet_id', 'doggo', 'floofer', 'pupper', 'puppo']].head(20)

              tweet_id  doggo floofer pupper  puppo
0   892420643555336193  None   None    None   None
1   892177421306343426  None   None    None   None
2   891815181378084864  None   None    None   None
3   891689557279858688  None   None    None   None
4   891327558926688256  None   None    None   None
5   891087950875897856  None   None    None   None
6   890971913173991426  None   None    None   None
7   890729181411237888  None   None    None   None
8   890609185150312448  None   None    None   None
9   890240255349198849  doggo  None    None   None
10  890006608113172480  None   None    None   None
11  889880896479866881  None   None    None   None
12  889665388333682689  None   None    None   puppo
13  889638837579907072  None   None    None   None
14  889531135344209921  None   None    None   puppo
15  889278841981685760  None   None    None   None
16  888917238123831296  None   None    None   None
17  888804989199671297  None   None    None   None
18  888554962724278272  None   None    None   None
19  888078434458587136  None   None    None   None

#### Programar

In [56]:
# Aplicar o melt em dog_stage
twitter_archive_clean = pd.melt(twitter_archive_clean, 
        id_vars=['tweet_id', 'timestamp', 'source', 'text', 'expanded_urls', 'rating_numerator', 'rating_denominator', 'name'], 
                value_name='dog_stage')

twitter_archive_clean = twitter_archive_clean.drop('variable', axis=1)
twitter_archive_clean.head()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,dog_stage
0,892420643555336193,2017-08-01 16:23:56,Twitter for iPhone,This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None
1,892177421306343426,2017-08-01 00:17:27,Twitter for iPhone,"This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None
2,891815181378084864,2017-07-31 00:18:03,Twitter for iPhone,This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None
3,891689557279858688,2017-07-30 15:58:51,Twitter for iPhone,This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None
4,891327558926688256,2017-07-29 16:00:24,Twitter for iPhone,"This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f","https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,None

In [57]:
twitter_archive_clean[['tweet_id', 'dog_stage']].head(20)

              tweet_id dog_stage
0   892420643555336193  None
1   892177421306343426  None
2   891815181378084864  None
3   891689557279858688  None
4   891327558926688256  None
5   891087950875897856  None
6   890971913173991426  None
7   890729181411237888  None
8   890609185150312448  None
9   890240255349198849  doggo
10  890006608113172480  None
11  889880896479866881  None
12  889665388333682689  None
13  889638837579907072  None
14  889531135344209921  None
15  889278841981685760  None
16  888917238123831296  None
17  888804989199671297  None
18  888554962724278272  None
19  888078434458587136  None

In [58]:
#Separar os cachorros classificados para poder excluir dog_stage duplicados (None + outro). 
no_none = twitter_archive_clean[twitter_archive_clean.dog_stage != 'None']

#Excluir os registros duplicados para sobrar 1 registro por classificação, ainda sim, haverá 2 ou mais registros para os cachorros com mais de uma classificação; 
twitter_archive_clean.drop_duplicates(inplace=True)

#Excluir os registros duplicados por tweet_id, fará com sobre apenas os cachorros sem classificação (None)
twitter_archive_clean.drop_duplicates(['tweet_id'], inplace=True, keep=False)

#Como a maioria dos tweets com 2 categorias se referem a imagens com 2 cachorros, manteremos apenas a primeira ocorrência. 
no_none.drop_duplicates(['tweet_id'], inplace=True, keep='first')

#Juntar novamente os cachorros que tem classificação com os cachorros sem classificação.
twitter_archive_clean = twitter_archive_clean.append(no_none, ignore_index=False)

#Reordenando os índices
twitter_archive_clean.sort_index(inplace=True)
twitter_archive_clean.reset_index(drop=True, inplace=True)

#### Testar

In [59]:
twitter_archive_clean.head()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,dog_stage
0,892420643555336193,2017-08-01 16:23:56,Twitter for iPhone,This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None
1,892177421306343426,2017-08-01 00:17:27,Twitter for iPhone,"This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None
2,891815181378084864,2017-07-31 00:18:03,Twitter for iPhone,This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None
3,891689557279858688,2017-07-30 15:58:51,Twitter for iPhone,This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None
4,891327558926688256,2017-07-29 16:00:24,Twitter for iPhone,"This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f","https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,None

In [60]:
#Quantidade de duplicados
twitter_archive_clean.duplicated().sum()

0

In [61]:
twitter_archive_clean.shape

(2091, 9)

In [62]:
twitter_archive_clean.dog_stage.value_counts()

None       1756
pupper     220
doggo      83
puppo      23
floofer    9
Name: dog_stage, dtype: int64

A diferença na quantidade por tipo de cachorro é justificável, porque alguns tweets tinham 2 classificações.

### Tabela image_predictions com 3 probabilidades

#### Definir

Entre as 3 probabilidades, escolher a melhor previsão.

In [63]:
image_predictions_clean[['p1', 'p1_conf', 'p1_dog', 'p2', 'p2_conf', 'p2_dog', 'p3', 'p3_conf', 'p3_dog']].head()

,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog
0,Welsh_Springer_Spaniel,0.465074,True,Collie,0.156665,True,Shetland_Sheepdog,0.061428,True
1,Redbone,0.506826,True,Miniature_Pinscher,0.074192,True,Rhodesian_Ridgeback,0.072010,True
2,German_Shepherd,0.596461,True,Malinois,0.138584,True,Bloodhound,0.116197,True
3,Rhodesian_Ridgeback,0.408143,True,Redbone,0.360687,True,Miniature_Pinscher,0.222752,True
4,Miniature_Pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True

#### Programar

In [64]:
# Mantendo apenas a melhor predição
dog = []
conf_dog = []

def probabilidade(df):
    ''' Verifica qual das 3 previsões (px) é verdadeira. Se mais de uma for verdadeira, 
        considera a de maior confiabilidade (px_conf).
        Argumentos:
            df: nome do dataframe
        Retorna: 
            dog =  Qual é o cachorro com a maior confiabilidade
            conf_dog = Confiabilidade da previsão     
    '''   
    if df.p1_dog == True:
        dog.append(df['p1'])
        conf_dog.append(df['p1_conf'])
    elif df.p2_dog == True:
        dog.append(df['p2'])
        conf_dog.append(df['p2_conf'])
    elif df.p3_dog == True:
        dog.append(df['p3'])
        conf_dog.append(df['p3_conf'])
    else:
        dog.append('no_dog')
        conf_dog.append(0)


image_predictions_clean.apply(probabilidade, axis=1)
       
image_predictions_clean['dog'] = dog
image_predictions_clean['conf_dog'] = conf_dog

#### Testar

In [65]:
image_predictions_clean[['p1', 'p1_conf', 'p1_dog', 'p2', 'p2_conf', 'p2_dog', 'p3', 'p3_conf', 'p3_dog', 'dog', 'conf_dog']].head(15)

,p1,p1_conf,p1_dog,p2,p2_conf,p2_dog,p3,p3_conf,p3_dog,dog,conf_dog
0,Welsh_Springer_Spaniel,0.465074,True,Collie,0.156665,True,Shetland_Sheepdog,0.061428,True,Welsh_Springer_Spaniel,0.465074
1,Redbone,0.506826,True,Miniature_Pinscher,0.074192,True,Rhodesian_Ridgeback,0.072010,True,Redbone,0.506826
2,German_Shepherd,0.596461,True,Malinois,0.138584,True,Bloodhound,0.116197,True,German_Shepherd,0.596461
3,Rhodesian_Ridgeback,0.408143,True,Redbone,0.360687,True,Miniature_Pinscher,0.222752,True,Rhodesian_Ridgeback,0.408143
4,Miniature_Pinscher,0.560311,True,Rottweiler,0.243682,True,Doberman,0.154629,True,Miniature_Pinscher,0.560311
5,Bernese_Mountain_Dog,0.651137,True,English_Springer,0.263788,True,Greater_Swiss_Mountain_Dog,0.016199,True,Bernese_Mountain_Dog,0.651137
6,Box_Turtle,0.933012,False,Mud_Turtle,0.045885,False,Terrapin,0.017885,False,no_dog,0.000000
7,Chow,0.692517,True,Tibetan_Mastiff,0.058279,True,Fur_Coat,0.054449,False,Chow,0.692517
8,Shopping_Cart,0.962465,False,Shopping_Basket,0.014594,False,Golden_Retriever,0.007959,True,Golden_Retriever,0.007959
9,Miniature_Poodle,0.201493,True,Komondor,0.192305,True,Soft-Coated_Wheaten_Terrier,0.082086,True,Miniature_Poodle,0.201493
10,Golden_Retriever,0.775930,True,Tibetan_Mastiff,0.093718,True,Labrador_Retriever,0.072427,True,Golden_Retriever,0.775930
11,Gordon_Setter,0.503672,True,Yorkshire_Terrier,0.174201,True,Pekinese,0.109454,True,Gordon_Setter,0.503672
12,Walker_Hound,0.260857,True,English_Foxhound,0.175382,True,Ibizan_Hound,0.097471,True,Walker_Hound,0.260857
13,Pug,0.489814,True,Bull_Mastiff,0.404722,True,French_Bulldog,0.048960,True,Pug,0.489814
14,Bloodhound,0.195217,True,German_Shepherd,0.078260,True,Malinois,0.075628,True,Bloodhound,0.195217

#### Definir

Excluir as colunas p1, p1_conf, p1_dog, p2, p2_conf, p2_dog, p3, p3_conf, p3_dog.

#### Programar

In [66]:
image_predictions_clean.drop(['p1', 'p1_conf', 'p1_dog', 'p2', 'p2_conf', 'p2_dog', 'p3', 'p3_conf', 'p3_dog'], axis=1, inplace=True)

#### Testar

In [67]:
image_predictions_clean.head()

,tweet_id,jpg_url,img_num,dog,conf_dog
0,666020888022790149,https://pbs.twimg.com/media/CT4udn0WwAA0aMy.jpg,1,Welsh_Springer_Spaniel,0.465074
1,666029285002620928,https://pbs.twimg.com/media/CT42GRgUYAA5iDo.jpg,1,Redbone,0.506826
2,666033412701032449,https://pbs.twimg.com/media/CT4521TWwAEvMyu.jpg,1,German_Shepherd,0.596461
3,666044226329800704,https://pbs.twimg.com/media/CT5Dr8HUEAA-lEu.jpg,1,Rhodesian_Ridgeback,0.408143
4,666049248165822465,https://pbs.twimg.com/media/CT5IQmsXIAAKY4A.jpg,1,Miniature_Pinscher,0.560311

### Existem 3 tabelas e apenas 1 seria suficiente para as análises a serem realizadas

#### Definir

Junção das tabelas twitter archive, image_predictions_clean e tweet_data_clean em um dataframe

In [68]:
print(('Quantidade de linhas no df twitter_archive_clean: '), (twitter_archive_clean.shape)[0])
print(('Quantidade de linhas no df tweet_data_clean: '), (tweet_data_clean.shape)[0])
print(('Quantidade de linhas no df image_predictions_clean: '), (image_predictions_clean.shape)[0])

Quantidade de linhas no df twitter_archive_clean:  2091
Quantidade de linhas no df tweet_data_clean:  2337
Quantidade de linhas no df image_predictions_clean:  2075

#### Programar

In [69]:
#Junção da tabela image predictions com twitter archive no DF master
master = pd.merge(twitter_archive_clean, image_predictions_clean, how='inner', on='tweet_id')

#Junção da tabela tweet data ao DF master
master = pd.merge(master, tweet_data_clean, how='inner', on='tweet_id')

#### Testar

In [70]:
#Habilitar visualização de todas as colunas
pd.set_option('display.max_columns', 40)

#Visualizar os dados no novo dataframe
master.head()

,tweet_id,timestamp,source,text,expanded_urls,rating_numerator,rating_denominator,name,dog_stage,jpg_url,img_num,dog,conf_dog,favorite_count,retweet_count
0,892420643555336193,2017-08-01 16:23:56,Twitter for iPhone,This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,https://twitter.com/dog_rates/status/892420643555336193/photo/1,13,10,Phineas,None,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,1,no_dog,0.000000,37606,8199
1,892177421306343426,2017-08-01 00:17:27,Twitter for iPhone,"This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",https://twitter.com/dog_rates/status/892177421306343426/photo/1,13,10,Tilly,None,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,1,Chihuahua,0.323581,32315,6064
2,891815181378084864,2017-07-31 00:18:03,Twitter for iPhone,This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,https://twitter.com/dog_rates/status/891815181378084864/photo/1,12,10,Archie,None,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,1,Chihuahua,0.716012,24350,4011
3,891689557279858688,2017-07-30 15:58:51,Twitter for iPhone,This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,https://twitter.com/dog_rates/status/891689557279858688/photo/1,13,10,Darla,None,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,1,Labrador_Retriever,0.168086,40931,8360
4,891327558926688256,2017-07-29 16:00:24,Twitter for iPhone,"This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f","https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1",12,10,Franklin,None,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,2,Basset,0.555712,39142,9052

In [71]:
master.shape

(1964, 15)

In [72]:
#Alterando ordem das colunas para ordem lógica
master = master[['tweet_id', 'timestamp', 'source', 'name', 'dog_stage', 'rating_numerator', 'rating_denominator',  'favorite_count', 'retweet_count', 'dog', 'conf_dog', 'text',
 'img_num', 'jpg_url', 'expanded_urls']]

In [73]:
master.head()

,tweet_id,timestamp,source,name,dog_stage,rating_numerator,rating_denominator,favorite_count,retweet_count,dog,conf_dog,text,img_num,jpg_url,expanded_urls
0,892420643555336193,2017-08-01 16:23:56,Twitter for iPhone,Phineas,None,13,10,37606,8199,no_dog,0.000000,This is Phineas. He's a mystical boy. Only ever appears in the hole of a donut. 13/10 https://t.co/MgUWQ76dJU,1,https://pbs.twimg.com/media/DGKD1-bXoAAIAUK.jpg,https://twitter.com/dog_rates/status/892420643555336193/photo/1
1,892177421306343426,2017-08-01 00:17:27,Twitter for iPhone,Tilly,None,13,10,32315,6064,Chihuahua,0.323581,"This is Tilly. She's just checking pup on you. Hopes you're doing ok. If not, she's available for pats, snugs, boops, the whole bit. 13/10 https://t.co/0Xxu71qeIV",1,https://pbs.twimg.com/media/DGGmoV4XsAAUL6n.jpg,https://twitter.com/dog_rates/status/892177421306343426/photo/1
2,891815181378084864,2017-07-31 00:18:03,Twitter for iPhone,Archie,None,12,10,24350,4011,Chihuahua,0.716012,This is Archie. He is a rare Norwegian Pouncing Corgo. Lives in the tall grass. You never know when one may strike. 12/10 https://t.co/wUnZnhtVJB,1,https://pbs.twimg.com/media/DGBdLU1WsAANxJ9.jpg,https://twitter.com/dog_rates/status/891815181378084864/photo/1
3,891689557279858688,2017-07-30 15:58:51,Twitter for iPhone,Darla,None,13,10,40931,8360,Labrador_Retriever,0.168086,This is Darla. She commenced a snooze mid meal. 13/10 happens to the best of us https://t.co/tD36da7qLQ,1,https://pbs.twimg.com/media/DF_q7IAWsAEuuN8.jpg,https://twitter.com/dog_rates/status/891689557279858688/photo/1
4,891327558926688256,2017-07-29 16:00:24,Twitter for iPhone,Franklin,None,12,10,39142,9052,Basset,0.555712,"This is Franklin. He would like you to stop calling him ""cute."" He is a very fierce shark and should be respected as such. 12/10 #BarkWeek https://t.co/AtUZn91f7f",2,https://pbs.twimg.com/media/DF6hr6BUMAAzZgT.jpg,"https://twitter.com/dog_rates/status/891327558926688256/photo/1,https://twitter.com/dog_rates/status/891327558926688256/photo/1"

In [74]:
#Salvando o DF em um novo arquivo csv
master.to_csv('twitter_archive_master.csv', encoding='utf-8', index=False)